<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8" />
    <title>메인 페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            var ctx = document.getElementById('genreStatisticsChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: /*[[${genreLabels}]]*/ [],
                    datasets: [
                        {
                            label: '공연건수',
                            data: /*[[${performanceCounts}]]*/ [],
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            yAxisID: 'y-axis-1'
                        },
                        {
                            label: '총 티켓판매액',
                            data: /*[[${totalTicketRevenues}]]*/ [],
                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                            type: 'line',
                            yAxisID: 'y-axis-2'
                        }
                    ]
                },
                options: {
                    scales: {
                        'y-axis-1': {
                            type: 'linear',
                            position: 'left'
                        },
                        'y-axis-2': {
                            type: 'linear',
                            position: 'right',
                            grid: {
                                drawOnChartArea: false
                            }
                        }
                    }
                }
            });

            var currentIndex = 0;
            var itemsPerPage = 5;
            var totalItems = $('.award-item').length;

            function updateAwards() {
                $('.award-item').hide().slice(currentIndex, currentIndex + itemsPerPage).show();
            }

            $('#prevBtn').click(function () {
                if (currentIndex > 0) {
                    currentIndex--;
                    updateAwards();
                }
            });

            $('#nextBtn').click(function () {
                if (currentIndex + itemsPerPage < totalItems) {
                    currentIndex++;
                    updateAwards();
                }
            });

            updateAwards();

            // 테이블의 페이지네이션
            var rowsPerPage = 6;
            var rows = $('.statistics-table tbody tr');
            var totalRows = rows.length;
            var pageCount = Math.ceil(totalRows / rowsPerPage);
            var currentPage = 1;

            function displayRows() {
                var start = (currentPage - 1) * rowsPerPage;
                var end = start + rowsPerPage;
                rows.hide().slice(start, end).show();
            }

            function createPagination() {
                var pagination = $('<div class="pagination mt-2"></div>');
                for (var i = 1; i <= pageCount; i++) {
                    pagination.append('<button class="page-link" data-page="' + i + '">' + i + '</button>');
                }
                $('.pagination-container').append(pagination);

                $('.page-link').on('click', function () {
                    currentPage = $(this).data('page');
                    displayRows();
                    $('.page-link').removeClass('active');
                    $(this).addClass('active');
                });

                $('.page-link:first').addClass('active');
            }

            displayRows();
            createPagination();
        });
    </script>
</th:block>

<div layout:fragment="content">
    <div class="custom-container text-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/1.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/2.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/3.jpg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="carousel-container">
            <div class="award-title-container">
                <img src="img/수상작 왼쪽.jpeg" alt="left wing">
                <h5 class="award-title">수상작</h5>
                <img src="img/수상작 오른쪽.jpeg" alt="right wing">
            </div>
            <div class="carousel-controls">
                <button id="prevBtn" class="carousel-control-prev">
                    <i class="fas fa-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </button>
                <button id="nextBtn" class="carousel-control-next">
                    <i class="fas fa-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </button>
            </div>

            <div class="statistics-container">
            <div class="carousel-inner">
                <th:block th:each="award : ${topAwards}">
                    <div class="custom-card award-item">
                        <img th:src="${award.posterUrl}" th:alt="${award.title}" />
                        <div class="custom-card-body">
                            <h6 th:text="${award.title}">제목</h6>
                            <p th:text="${award.stDate} + ' ~ ' + ${award.edDate}">기간</p>
                        </div>
                    </div>
                    </a>
                </th:block>
            </div>
            </div>
        </div>
        <hr>

        <div class="statistics-container2">
            <h5>장르별 통계</h5>
            <canvas id="genreStatisticsChart"></canvas>
            <div class="statistics-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>장르</th>
                        <th>공연건수</th>
                        <th>상연횟수</th>
                        <th>예매수</th>
                        <th>취소수</th>
                        <th>총 티켓판매수</th>
                        <th>총 티켓판매액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat : ${genreStatistics}">
                        <td th:text="${stat.genre}"></td>
                        <td th:text="${stat.performanceCount}"></td>
                        <td th:text="${stat.showCount}"></td>
                        <td th:text="${stat.reservationCount}"></td>
                        <td th:text="${stat.cancellationCount}"></td>
                        <td th:text="${stat.totalTicketSales}"></td>
                        <td th:text="${stat.totalTicketRevenue}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-container"></div>
            </div>
        </div>
    </div>
</div>
</html>
