<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <title>Post Detail</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<div layout:fragment="content" style="margin-left:25%;margin-right:25%">
  <input type="hidden" id="postId" th:value="${post.id}">

  <div class="d-flex">
    <div class="wd50">
      <h1 th:text="${post.title}"></h1>
      <hr class="my-4">
      <p><strong>Author:</strong> <span th:text="${post.author}">Author Name</span></p>
      <p><strong>Date:</strong> <span th:text="${post.postDate}">Post Date</span></p>
      <p><strong>Created At:</strong> <span th:text="${post.regTime}">Created At</span></p>
      <div class="text-left">
        <p th:text="${post.content}">Post Content</p>
      </div>
    </div>
  </div>
  <div class="mgt-30">
    <div class="container">
      <h4 class="border border-success-subtle rounded-pill display-5">Post Details</h4>
      <hr class="my-4">
      <p class="lead" th:text="${post.content}"></p>
    </div>
  </div>
  <div class="text-right">
    <a href="/posts" class="btn btn-primary">Back to Posts</a>
    <a th:href="@{'/posts/edit/' + ${post.id}}" class="btn btn-warning">Edit</a>
    <button type="button" class="btn btn-danger" id="deleteButton" onclick="deletePost()">Delete</button>
  </div>
</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
  function deletePost(){
          var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          var postId = $('#postId').val();
          $.ajax({
              url: '/posts/delete/' + postId,
              type: 'DELETE',
               beforeSend : function(xhr){
                    /*데이터 전송하기 전에 헤더이 csrf 값을 설정*/
                    xhr.setRequestHeader(header, token);
                },
              success: function(result) {
                      alert('Post deleted successfully.');
                      window.location.href = '/posts';
              },
              error: function(xhr, status, error) {
                  alert('Error deleting postEntity: ' + error);
              }
          });
    }
  </script>
</th:block>
</body>
</html>