<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8" />
    <title>공연상세보기</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d43554c495039c4384d5d9b5c70e7c88&libraries=services"></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" th:href="@{/css/showDetail.css}" />
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var isLiked = false; // 좋아요 상태를 저장할 변수
            var cnt=0; //댓글 추가시 댓글번호용 count

            showIntroduction(); //초기에 소개 버튼 누르고 시작
            //updateLikeButton(); // 초기 좋아요 상태에 따라 버튼 초기화

            // 소개 버튼 클릭 시
            $("#introButton").click(function () {
                showIntroduction();
            });
            //댓글 버튼 클릭 시
            $("#commentButton").click(function () {
                showCommentList();
            });

            // 공연장 버튼 클릭 시
            $("#venueButton").click(function () {
                showVenueInfo();
            });

            // 좋아요 버튼 누를 시 단순 색 변경. ajax 완성 시 삭제
            $("#likeButton").click(function () {
                if ($("#likeButton").text() == "♡") {
                    $("#likeButton").text("♥");
                    //알림창 뜨는 것과 관계없이 바로 텍스트 변경
                    setTimeout(function () {
                        alert("좋아요를 눌렀습니다.");
                    }, 0);
                } else {
                    $("#likeButton").text("♡");
                    //알림창 뜨는 것과 관계없이 바로 텍스트 변경
                    setTimeout(function () {
                        alert("좋아요를 취소합니다.");
                    }, 0);
                }
            });

            // 댓글 추가 버튼 클릭 시
            $("#addCommentButton").click(function () {
                var newComment = $("#newComment").val();

                if (newComment) {
                    // 현재 시간 가져오기
                    var currentTime = new Date().toLocaleString();
                    // 작성자 이름 (예시)
                    var author = "작성자명"; // 실제로는 서버에서 가져온 값을 사용하거나 사용자 입력을 받도록 수정

                    // 새로운 댓글 HTML 생성
                    var commentHtml = `
                        <div class='comment-${++cnt}'>
                            <p><strong>${author}</strong> <span>${currentTime}</span></p>
                            <p>${newComment}</p>
                        </div>
                    `;
                    // 댓글 리스트에 추가
                    $("#commentList").append(commentHtml);
                    // 입력 필드 초기화
                    $("#newComment").val("");
                }
            });

            // 함수: 소개 영역 표시
            function showIntroduction() {
                $("#introSection").show();
                $("#commentSection").hide();
                $("#venueInfoSection").hide();
                $("#commentSection").hide();
                $("#introButton").addClass("btn-primary").removeClass("btn-secondary");
                $("#commentButton").addClass("btn-secondary").removeClass("btn-primary");
                $("#venueButton").addClass("btn-secondary").removeClass("btn-primary");
            }
            // 함수: 댓글 목록 표시
            function showCommentList() {
                $("#introSection").hide();
                $("#commentSection").show();
                $("#venueInfoSection").hide();
                $("#introButton").addClass("btn-secondary").removeClass("btn-primary");
                $("#commentButton").addClass("btn-primary").removeClass("btn-secondary");
                $("#venueButton").addClass("btn-secondary").removeClass("btn-primary");
            }
            // 함수: 공연장 정보 표시
            function showVenueInfo() {
                $("#introSection").hide();
                $("#commentSection").hide();
                $("#venueInfoSection").show();
                $("#introButton").addClass("btn-secondary").removeClass("btn-primary");
                $("#commentButton").addClass("btn-secondary").removeClass("btn-primary");
                $("#venueButton").addClass("btn-primary").removeClass("btn-secondary");
                map.relayout();
                map.setCenter(markerPosition);
            }

            var map;
            var markerPosition;
            var placeName = $("#placeName").text();

            // 지도 초기화 함수
            (function loadMap() {
                var latitude = $("#placeLat").val(); // 장소의 위도
                var longitude = $("#placeLong").val(); // 장소의 경도
                var container = document.getElementById('map'),
                    options = { //지도를 생성할 때 필요한 기본 옵션
                        center: new kakao.maps.LatLng(latitude, longitude),
                        level: 3 //지도의 레벨(확대, 축소 정도)
                };

                map = new kakao.maps.Map(container, options); // 지도 생성 및 객체 리턴
                markerPosition = new kakao.maps.LatLng(latitude, longitude); // 마커 위치 설정
                var marker = new kakao.maps.Marker({ // 마커 생성 및 지도에 표시
                    position: markerPosition
                });

                marker.setMap(map); //마커를 지도에 set
                var iwContent = placeName,
                    iwPosition = new kakao.maps.LatLng(latitude, longitude);

                var infowindow = new kakao.maps.InfoWindow({ // 인포윈도우를 생성
                    map: map,
                    position : iwPosition,
                    content : iwContent
                });

                infowindow.open(map, marker);
            })();

            $("#topButton").on("click",function(){
                $('html, body').animate({
                    scrollTop : 0
                },400)
                    return false;
                });
        });
    </script>
</th:block>

<div layout:fragment="content">
    <input type="hidden" id="showId" th:value="${showDto.showId}" />
    <input type="hidden" id="placeLong" th:value="${showDto.placeDto.longitude}" />
    <input type="hidden" id="placeLat" th:value="${showDto.placeDto.latitude}" />
    <div class="custom-container">
        <div class="show-container">
            <div class="title-container">
                <button id="likeButton" class="mr-1">♡</button>
                <h4 th:text="${showDto.title}">공연 제목</h4>
            </div>
            <div class="separator"></div>
            <div class="show-image">
                <img th:src="${showDto.posterUrl}" class="img-fluid" alt="공연포스터" />
                <div class="tag-container">
                    <span class="genre " th:text="${showDto.genre}">장르</span>
                    <span class="state" th:text="${showDto.state}">공연상태</span>
                </div>
            </div>
            <div class="show-details">
                <table>
                    <tbody>
                    <tr>
                        <th>공연기간</th>
                        <td><span th:text="${showDto.stDate}">시작일</span> ~ <span th:text="${showDto.edDate}">종료일</span></td>
                    </tr>
                    <tr>
                        <th>공연장소</th>
                        <td>
                            <span th:if="${showDto.placeDto != null}" th:text="${showDto.placeDto.name}">장소명</span>
                            <span th:unless="${showDto.placeDto != null}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>공연시간</th>
                        <td>
                            <span th:if="${showDto.time != ' '}" th:text="${showDto.time}">공연 요일 및 시간</span>
                            <span th:unless="${showDto.time != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>런타임</th>
                        <td>
                            <span th:if="${showDto.runtime != ' '}" th:text="${showDto.runtime}">런타임</span>
                            <span th:unless="${showDto.runtime != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>관람연령</th>
                        <td>
                            <span th:if="${showDto.age != ' '}" th:text="${showDto.age}">관람연령</span>
                            <span th:unless="${showDto.age != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>티켓가격</th>
                        <td>
                            <span th:if="${showDto.ticketPrice != ' '}" th:text="${showDto.ticketPrice}">티켓가격</span>
                            <span th:unless="${showDto.ticketPrice != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>출연진</th>
                        <td>
                            <span th:if="${showDto.cast != ' '}" th:text="${showDto.cast}">출연진</span>
                            <span th:unless="${showDto.cast != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>제작진</th>
                        <td>
                            <span th:if="${showDto.staff != ' '}" th:text="${showDto.staff}">제작진</span>
                            <span th:unless="${showDto.staff != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    <tr>
                        <th>기획·제작</th>
                        <td>
                            <span th:if="${showDto.producer != ' '}" th:text="${showDto.producer}">기획·제작</span>
                            <span th:unless="${showDto.producer != ' '}">해당정보없음</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons-container">
            <button id="introButton" class="btn btn-primary">소개</button>
            <button id="commentButton" class="btn btn-secondary">댓글</button>
            <button id="venueButton" class="btn btn-secondary">공연장 정보</button>
        </div>
        <div id="introSection" class="intro-content">
            <img th:src="${showDto.storyUrl}" class="img-fluid" alt="공연 소개 이미지" />
        </div>
        <div id="commentSection" class="comment-section">
            <div class="comment-form">
                <textarea id="newComment" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                <button id="addCommentButton" class="btn btn-primary mt-2">댓글 추가</button>
            </div>
            <div id="commentList" class="comment-list mt-3">
                <!-- 댓글 목록이 표시될 영역 -->
            </div>
        </div>
        <div id="venueInfoSection" class="venue-info">
            <div th:if="${showDto.placeDto != null}">
                <h5 id="placeName" th:text="${showDto.placeDto.name}">공연장 이름</h5>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>좌석수</th>
                        <td th:text="${showDto.placeDto.seat}"></td>
                    </tr>
                    <tr>
                        <th>시설특성</th>
                        <td th:text="${showDto.placeDto.feature}"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td th:text="${showDto.placeDto.address}"></td>
                    </tr>
                    <tr>
                        <th>홈페이지</th>
                        <td><a th:href="${showDto.placeDto.url}" th:text="${showDto.placeDto.name}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${showDto.placeDto == null}">
                <p>해당정보없음</p>
            </div>
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
        <div class="funcButton-container">
            <a href="/show" class="btn btn-success mt-3">목록으로</a>
            <a id="topButton" class="btn btn-secondary mt-3">맨 위로</a>
            <a th:href="@{'/posts/new/showId=' + ${showDto.id}}" class="btn btn-success mt-3">모임 생성</a>
        </div>
    </div>
</div>
</html>
